.image{
    height: 600px;
    width: 500px;
    text-align: center;
    margin-left: 500px;
    margin-top: 10px;
}

.f_header{
    color: black;
    margin-top: 10px;

}
.t_header{
    color: black;
  font-size: 70px;
  margin-top: 0px;
  font-weight: normal;

}